In [21]:
from __future__ import division, print_function, unicode_literals
from datetime import datetime
import numpy as np
import os
import pandas as pd
pd.set_option('display.max_columns', 999)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Approach

1. Compute pareto on code occurences - do manually for now - DONE
2. Generate lookup list based on top 80% - do manually for now - DONE
3. Replace codes with lookups in original categorical columns in claims file - DONE
4. Use pd.get_dummies to generate ohe columns - DONE (if then else loops)
5. Generate month, week, dayof month, day of week for - DONE
    - Claim start date
    - Claim end date
6. Compute derived variables - DONE
   - age bands - DONE
   - claim duration - already available
   - Lag Days - cannot 
5. Concatenate Beneficiary info - DONE
6. Consider mapping DX codes to HCC conditions to reduce sparseness
7. Drop columns - DONE IN EXCLUDE COLUMNS
    - SP_ columns
    - yearly sums
8. Figure out the proc string issue - 
9. Identify KPI transformations and replace nulls with medians - DONE
   - compute logs of KPIs

Outstanding
1. ...only read code values as str in read_csv of input datafile!!!!!

Later...
1. switch to outpatient
2. Replace DRG CD with ohe
3. Purchase actual CMS files for recent years if possible...say 10K records

In [13]:
# Read the input file
#...only read code values as str!!!!!
data = pd.read_csv('DE1_0_2008_to_2010_Inpatient_Claims_NoHCPCS_Sample_1.csv', dtype=str)
#data = pd.read_csv('DE1_0_2008_to_2010_Inpatient_Claims_NoHCPCS_Sample_1.csv')

# Columns info

- **CLM_ID: Claim ID**


- **DESYNPUF_ID:** Beneficiary Code


- **DESYNPUF:** Claim Line Segment


- **SEGMENT:** Claim Line Segment


- **CLM_FROM_DT:** Claims start date


- **CLM_THRU_DT:** Claims end date


- **PRVDR_NUM:** Provider Institution


- **CLM_PMT_AMT:** Claim Payment Amount


- **NCH_PRMRY_PYR_CLM_PD_AMT:** NCH Primary Payer Claim Paid Amount


- **AT_PHYSN_NPI:** Attending Physician – National Provider Identifier Number


- **OP_PHYSN_NPI:** Operating Physician – National Provider Identifier Number


- **OT_PHYSN_NPI:** Other Physician – National Provider Identifier Number


- **CLM_ADMSN_DT:** Inpatient admission date


- **ADMTNG_ICD9_DGNS_CD:**  Claim Admitting Diagnosis Code 


- **CLM_PASS_THRU_PER_DIEM_AMT:** Claim Pass Thru Per Diem Amount
The amount of the established reimbursable costs for the current year divided by the estimated Medicare
days for the current year (all PPS claims), as calculated by the FI and reimbursement staff. Items
reimbursed as a pass through include capital–related costs; direct medical education costs; kidney
acquisition costs for hospitals approved as RTCs; and bad debts (per Provider Reimbursement Manual,
Part 1, Section 2405.2). Note: Pass through are not included in the Claim Payment Amount. 


- **NCH_BENE_IP_DDCTBL_AMT:** NCH Beneficiary Inpatient Deductible Amount
The amount of the deductible the beneficiary paid for inpatient services, as originally submitted on the
institutional claim. 


- **NCH_BENE_PTA_COINSRNC_LBLTY_AM:** NCH Beneficiary Part A Coinsurance Liability Amount
The amount of money for which the intermediary has determined that the beneficiary is liable for Part A
coinsurance on the institutional claim. 


- **CLM_UTLZTN_DAY_CNT:** Claim Utilization Day Count. 
On an institutional claim, the number of covered days of care that are chargeable to Medicare facility
utilization that includes full days, coinsurance days, and lifetime reserve days. It excludes any days
classified as non–covered, leave of absence days, and the day of discharge or death.


- **NCH_BENE_DSCHRG_DT:** Inpatient discharged date. 
Effective with Version H, on an inpatient and HHA claim, the date the beneficiary was discharged from
the facility or died (used for internal CWFMQA editing purposes.) 


- **CLM_DRG_CD:** Claim Diagnosis Related Group Code.


- **ICD9_DGNS_CD_1:** Line Diagnosis Code 1


- **ICD9_DGNS_CD_2:** ???


- **ICD9_DGNS_CD_3:** ???


- **ICD9_DGNS_CD_4:** ???


- **ICD9_DGNS_CD_5:** ???


- **ICD9_DGNS_CD_6:** ???


- **ICD9_DGNS_CD_7:** ???


- **ICD9_DGNS_CD_8:** Claim Diagnosis Code 8


- **ICD9_DGNS_CD_9:** ???


- **ICD9_DGNS_CD_10:** Claim Diagnosis Code 10


- **ICD9_PRCDR_CD_1:** Claim Procedure Code 1


- **ICD9_PRCDR_CD_2:** ???


- **ICD9_PRCDR_CD_3:** ???


- **ICD9_PRCDR_CD_5:** ???


- **ICD9_PRCDR_CD_6:** Claim Procedure Code 6

In [22]:
data.head()

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,OT_PHYSN_NPI,CLM_ADMSN_DT,ADMTNG_ICD9_DGNS_CD,CLM_PASS_THRU_PER_DIEM_AMT,NCH_BENE_IP_DDCTBL_AMT,NCH_BENE_PTA_COINSRNC_LBLTY_AM,NCH_BENE_BLOOD_DDCTBL_LBLTY_AM,CLM_UTLZTN_DAY_CNT,NCH_BENE_DSCHRG_DT,CLM_DRG_CD,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,ICD9_DGNS_CD_7,ICD9_DGNS_CD_8,ICD9_DGNS_CD_9,ICD9_DGNS_CD_10,ICD9_PRCDR_CD_1,ICD9_PRCDR_CD_2,ICD9_PRCDR_CD_3,ICD9_PRCDR_CD_4,ICD9_PRCDR_CD_5,ICD9_PRCDR_CD_6
0,00013D2EFD8E45D1,196661176988405,1,20100312,20100313,2600GD,4000,0,3139083564,NaN,NaN,20100312,4580,0,1100,0,0,1,20100313,217,7802,78820,V4501,4280,2720,4019,V4502,73300,E9330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00016F745862898F,196201177000368,1,20090412,20090418,3900MB,26000,0,6476809087,NaN,NaN,20090412,7866,0,1068,0,0,6,20090418,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00016F745862898F,196661177015632,1,20090831,20090902,3900HM,5000,0,611998537,611998537,NaN,20090831,6186,0,1068,0,0,2,20090902,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092,6186,V5866,NaN,NaN,NaN
3,00016F745862898F,196091176981058,1,20090917,20090920,3913XU,5000,0,4971602784,NaN,1119000316,20090917,29590,0,1068,0,0,3,20090920,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00016F745862898F,196261176983265,1,20100626,20100701,3900MB,16000,0,6408400473,1960859579,NaN,20100626,5849,0,1100,0,0,5,20100701,983,3569,4019,3542,V8801,78820,2639,7840,7856,4271,NaN,NaN,E8889,NaN,NaN,NaN,NaN

In [17]:
data.dtypes

DESYNPUF_ID                       object
CLM_ID                            object
SEGMENT                           object
CLM_FROM_DT                       object
CLM_THRU_DT                       object
PRVDR_NUM                         object
CLM_PMT_AMT                       object
NCH_PRMRY_PYR_CLM_PD_AMT          object
AT_PHYSN_NPI                      object
OP_PHYSN_NPI                      object
OT_PHYSN_NPI                      object
CLM_ADMSN_DT                      object
ADMTNG_ICD9_DGNS_CD               object
CLM_PASS_THRU_PER_DIEM_AMT        object
NCH_BENE_IP_DDCTBL_AMT            object
NCH_BENE_PTA_COINSRNC_LBLTY_AM    object
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM    object
CLM_UTLZTN_DAY_CNT                object
NCH_BENE_DSCHRG_DT                object
CLM_DRG_CD                        object
ICD9_DGNS_CD_1                    object
ICD9_DGNS_CD_2                    object
ICD9_DGNS_CD_3                    object
ICD9_DGNS_CD_4                    object
ICD9_DGNS_CD_5                    object
ICD9_DGNS_CD_6                    object
ICD9_DGNS_CD_7                    object
ICD9_DGNS_CD_8                    object
ICD9_DGNS_CD_9                    object
ICD9_DGNS_CD_10                   object
ICD9_PRCDR_CD_1                   object
ICD9_PRCDR_CD_2                   object
ICD9_PRCDR_CD_3                   object
ICD9_PRCDR_CD_4                   object
ICD9_PRCDR_CD_5                   object
ICD9_PRCDR_CD_6                   object
dtype: object

In [31]:
data['SEGMENT'].value_counts()

1    65431
2       68
Name: SEGMENT, dtype: int64

In [32]:
data['CLM_FROM_DT'].value_counts()

20080522    113
20081015    107
20080425    102
20080504    102
20080616    101
20080821     99
20080920     99
20080926     98
20080818     97
20080820     97
20080420     96
20080913     95
20080525     95
20080813     95
20080601     94
20080512     94
20080421     94
20090303     94
20080724     93
20080704     93
20080912     92
20080730     92
20080905     92
20080827     92
20080707     91
20081009     91
20080531     91
20090120     91
20080324     91
20080604     90
           ...
20101202      8
20101217      7
20101210      7
20101209      7
20101228      6
20101227      6
20101206      6
20101207      5
20101215      5
20071213      5
20101229      4
20071221      4
20101119      4
20101213      3
20071222      3
20101230      3
20071219      3
20071220      3
20071217      2
20071215      2
20101224      2
20071208      1
20071212      1
20071127      1
20071210      1
20071205      1
20071204      1
20071128      1
20071206      1
20071214      1
Name: CLM_FROM_DT, Length: 1120, dtype: int64

In [33]:
data['CLM_THRU_DT'].value_counts()

20080602    108
20080529    108
20080905    106
20081018    104
20080527    103
20080605    102
20081111    102
20080822    102
20080921    100
20080404     99
20081025     99
20080507     98
20081207     98
20080924     97
20080530     97
20081020     96
20080518     95
20080626     95
20080829     94
20080901     94
20080825     93
20080721     93
20080501     93
20081128     93
20080724     93
20080806     92
20081205     92
20081006     92
20080918     91
20080426     91
           ...
20101122     11
20101209     11
20101110     11
20101230     11
20101118     11
20101201     11
20101227     11
20101219     10
20101210     10
20101127     10
20101215     10
20101203     10
20101101     10
20101225      9
20101207      9
20101206      9
20101121      9
20101019      9
20101212      9
20101106      9
20101220      9
20101202      8
20101223      8
20101221      8
20101222      7
20101217      7
20101211      6
20101214      5
20101213      5
20101218      5
Name: CLM_THRU_DT, Length: 1096, dtype: int64

# Memory Optimizations

In [5]:
data['ICD9_DGNS_CD_1'] = data['ICD9_DGNS_CD_1'].astype(basestring)
data['ICD9_DGNS_CD_2'] = data['ICD9_DGNS_CD_2'].astype(basestring)
data['ICD9_DGNS_CD_3'] = data['ICD9_DGNS_CD_3'].astype(basestring)
data['ICD9_DGNS_CD_4'] = data['ICD9_DGNS_CD_4'].astype(basestring)
data['ICD9_DGNS_CD_5'] = data['ICD9_DGNS_CD_5'].astype(basestring)
data['ICD9_DGNS_CD_6'] = data['ICD9_DGNS_CD_6'].astype(basestring)
data['ICD9_DGNS_CD_7'] = data['ICD9_DGNS_CD_7'].astype(basestring)
data['ICD9_DGNS_CD_8'] = data['ICD9_DGNS_CD_8'].astype(basestring)
data['ICD9_DGNS_CD_9'] = data['ICD9_DGNS_CD_9'].astype(basestring)
data['ICD9_DGNS_CD_10'] = data['ICD9_DGNS_CD_10'].astype(basestring)

data['ICD9_PRCDR_CD_1'] = data['ICD9_PRCDR_CD_1'].astype(basestring)
data['ICD9_PRCDR_CD_2'] = data['ICD9_PRCDR_CD_2'].astype(basestring)
data['ICD9_PRCDR_CD_3'] = data['ICD9_PRCDR_CD_3'].astype(basestring)
data['ICD9_PRCDR_CD_4'] = data['ICD9_PRCDR_CD_4'].astype(basestring)
data['ICD9_PRCDR_CD_5'] = data['ICD9_PRCDR_CD_5'].astype(basestring)
data['ICD9_PRCDR_CD_6'] = data['ICD9_PRCDR_CD_6'].astype(basestring)
#data.dtypes

In [6]:
'''
data['ICD9_DGNS_CD_1'] = data['ICD9_DGNS_CD_1'].astype(object)
data['ICD9_DGNS_CD_2'] = data['ICD9_DGNS_CD_2'].astype(object)
data['ICD9_DGNS_CD_3'] = data['ICD9_DGNS_CD_3'].astype(object)
data['ICD9_DGNS_CD_4'] = data['ICD9_DGNS_CD_4'].astype(object)
data['ICD9_DGNS_CD_5'] = data['ICD9_DGNS_CD_5'].astype(object)
data['ICD9_DGNS_CD_6'] = data['ICD9_DGNS_CD_6'].astype(object)
data['ICD9_DGNS_CD_7'] = data['ICD9_DGNS_CD_7'].astype(object)
data['ICD9_DGNS_CD_8'] = data['ICD9_DGNS_CD_8'].astype(object)
data['ICD9_DGNS_CD_9'] = data['ICD9_DGNS_CD_9'].astype(object)
data['ICD9_DGNS_CD_10'] = data['ICD9_DGNS_CD_10'].astype(object)

data['ICD9_PRCDR_CD_1'] = data['ICD9_PRCDR_CD_1'].astype(object)
data['ICD9_PRCDR_CD_2'] = data['ICD9_PRCDR_CD_2'].astype(object)
data['ICD9_PRCDR_CD_3'] = data['ICD9_PRCDR_CD_3'].astype(object)
data['ICD9_PRCDR_CD_4'] = data['ICD9_PRCDR_CD_4'].astype(object)
data['ICD9_PRCDR_CD_5'] = data['ICD9_PRCDR_CD_5'].astype(object)
data['ICD9_PRCDR_CD_6'] = data['ICD9_PRCDR_CD_6'].astype(object)
#data.dtypes
'''

u"\ndata['ICD9_DGNS_CD_1'] = data['ICD9_DGNS_CD_1'].astype(object)\ndata['ICD9_DGNS_CD_2'] = data['ICD9_DGNS_CD_2'].astype(object)\ndata['ICD9_DGNS_CD_3'] = data['ICD9_DGNS_CD_3'].astype(object)\ndata['ICD9_DGNS_CD_4'] = data['ICD9_DGNS_CD_4'].astype(object)\ndata['ICD9_DGNS_CD_5'] = data['ICD9_DGNS_CD_5'].astype(object)\ndata['ICD9_DGNS_CD_6'] = data['ICD9_DGNS_CD_6'].astype(object)\ndata['ICD9_DGNS_CD_7'] = data['ICD9_DGNS_CD_7'].astype(object)\ndata['ICD9_DGNS_CD_8'] = data['ICD9_DGNS_CD_8'].astype(object)\ndata['ICD9_DGNS_CD_9'] = data['ICD9_DGNS_CD_9'].astype(object)\ndata['ICD9_DGNS_CD_10'] = data['ICD9_DGNS_CD_10'].astype(object)\n\ndata['ICD9_PRCDR_CD_1'] = data['ICD9_PRCDR_CD_1'].astype(object)\ndata['ICD9_PRCDR_CD_2'] = data['ICD9_PRCDR_CD_2'].astype(object)\ndata['ICD9_PRCDR_CD_3'] = data['ICD9_PRCDR_CD_3'].astype(object)\ndata['ICD9_PRCDR_CD_4'] = data['ICD9_PRCDR_CD_4'].astype(object)\ndata['ICD9_PRCDR_CD_5'] = data['ICD9_PRCDR_CD_5'].astype(object)\ndata['ICD9_PRCDR_CD_6'] = data['ICD9_PRCDR_CD_6'].astype(object)\n#data.dtypes\n"

In [7]:
data.describe(include='all')
'''
data['ICD9_PRCDR_CD_1'].head(10)
data['ICD9_PRCDR_CD_2'].head(10)
data['ICD9_PRCDR_CD_3'].head(10)
data['ICD9_PRCDR_CD_4'].head(10)
data['ICD9_PRCDR_CD_5'].head(10)
data['ICD9_PRCDR_CD_6'].head(10)
'''
data['ICD9_DGNS_CD_1'].head(10)
data['ICD9_DGNS_CD_2'].head(10)
data['ICD9_DGNS_CD_3'].head(10)
data['ICD9_DGNS_CD_4'].head(10)
data['ICD9_DGNS_CD_5'].head(10)
data['ICD9_DGNS_CD_6'].head(10)
data['ICD9_DGNS_CD_7'].head(10)
data['ICD9_DGNS_CD_8'].head(10)
data['ICD9_DGNS_CD_9'].head(10)
data['ICD9_DGNS_CD_10'].head(10)

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,ICD9_DGNS_CD_7,ICD9_DGNS_CD_8,ICD9_DGNS_CD_9,ICD9_DGNS_CD_10,ICD9_PRCDR_CD_1,ICD9_PRCDR_CD_2,ICD9_PRCDR_CD_3,ICD9_PRCDR_CD_4,ICD9_PRCDR_CD_5,ICD9_PRCDR_CD_6
count,2000,2000,2000,1999,1999,2000,2000,2000,1989,1155,...,1581,1456,1311,143,1129,633,394,244,169,112
unique,1116,1999,2,883,872,849,63,28,1359,866,...,555,534,499,113,309,308,223,154,129,84
top,019E4729585EF3DD,196901176966106,1,20080909,20081221,23006G,5000,0,1499149511,2329429575,...,4019,4019,4019,41401,9904,4019,2724,4019,4280,5856
freq,11,2,1999,8,8,30,240,1953,19,11,...,75,53,58,4,67,47,16,13,7,7

u"\ndata['ICD9_PRCDR_CD_1'].head(10)\ndata['ICD9_PRCDR_CD_2'].head(10)\ndata['ICD9_PRCDR_CD_3'].head(10)\ndata['ICD9_PRCDR_CD_4'].head(10)\ndata['ICD9_PRCDR_CD_5'].head(10)\ndata['ICD9_PRCDR_CD_6'].head(10)\n"

0     7802
1     1970
2     6186
3    29623
4     3569
5      486
6    33811
7    49121
8    V5789
9     7366
Name: ICD9_DGNS_CD_1, dtype: object

0    78820
1     4019
2     2948
3    30390
4     4019
5     3004
6    53550
7    25002
8     4279
9    V4365
Name: ICD9_DGNS_CD_2, dtype: object

0    V4501
1     5853
2    56400
3    71690
4     3542
5    42731
6    42820
7     2662
8     2449
9     4104
Name: ICD9_DGNS_CD_3, dtype: object

0     4280
1     7843
2      NaN
3    34590
4    V8801
5    42830
6      496
7     4111
8     2761
9     V145
Name: ICD9_DGNS_CD_4, dtype: object

0     2720
1     2768
2      NaN
3    V1581
4    78820
5     2724
6    V1259
7     4280
8    25000
9     2724
Name: ICD9_DGNS_CD_5, dtype: object

0     4019
1    71590
2      NaN
3    32723
4     2639
5    V4581
6    42731
7     4659
8     5845
9     2720
Name: ICD9_DGNS_CD_6, dtype: object

0    V4502
1     2724
2      NaN
3      NaN
4     7840
5     4019
6    78729
7      NaN
8     4019
9    53081
Name: ICD9_DGNS_CD_7, dtype: object

0    73300
1    19889
2      NaN
3      NaN
4     7856
5      NaN
6     V103
7      NaN
8     4189
9    V5866
Name: ICD9_DGNS_CD_8, dtype: object

0    E9330
1     5849
2      NaN
3      NaN
4     4271
5      NaN
6    34290
7      NaN
8    78729
9     4254
Name: ICD9_DGNS_CD_9, dtype: object

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    496
Name: ICD9_DGNS_CD_10, dtype: object

1. read in lookup table
2. get unique values
3. for each entry in unique list, create empty column
4. for each row in Df, step through prcdr columns and update ohe column to 1 if present (do no increment)

In [8]:
data.shape

(2000, 36)

In [9]:
data.dtypes

data['ICD9_PRCDR_CD_1'] = data['ICD9_PRCDR_CD_1'].fillna('0')
data["ICD9_PRCDR_CD_2"] = data["ICD9_PRCDR_CD_2"].fillna('0')
data["ICD9_PRCDR_CD_3"] = data["ICD9_PRCDR_CD_3"].fillna('0')
data["ICD9_PRCDR_CD_4"] = data["ICD9_PRCDR_CD_4"].fillna('0')
data["ICD9_PRCDR_CD_5"] = data["ICD9_PRCDR_CD_5"].fillna('0')
data["ICD9_PRCDR_CD_6"] = data["ICD9_PRCDR_CD_6"].fillna('0')

data['ICD9_DGNS_CD_1'] = data['ICD9_DGNS_CD_1'].fillna('0')
data['ICD9_DGNS_CD_2'] = data['ICD9_DGNS_CD_2'].fillna('0')
data['ICD9_DGNS_CD_3'] = data['ICD9_DGNS_CD_3'].fillna('0')
data['ICD9_DGNS_CD_4'] = data['ICD9_DGNS_CD_4'].fillna('0')
data['ICD9_DGNS_CD_5'] = data['ICD9_DGNS_CD_5'].fillna('0')
data['ICD9_DGNS_CD_6'] = data['ICD9_DGNS_CD_6'].fillna('0')
data['ICD9_DGNS_CD_7'] = data['ICD9_DGNS_CD_7'].fillna('0')
data['ICD9_DGNS_CD_8'] = data['ICD9_DGNS_CD_8'].fillna('0')
data['ICD9_DGNS_CD_9'] = data['ICD9_DGNS_CD_9'].fillna('0')
data['ICD9_DGNS_CD_10'] = data['ICD9_DGNS_CD_10'].fillna('0')

data.shape
#Get proc lookup map 
proc_map = pd.read_csv('ICD9_PRCDR_CD_Mappings.csv',skipinitialspace=True).astype(str)
#proc_map = pd.read_csv('ICD9_PRCDR_CD_Mappings.csv').astype(str)
#proc_map['ICD9_PRCDR_CD_1'] = proc_map['ICD9_PRCDR_CD_1'].astype(str)
#proc_map['Lookup'] = proc_map['Lookup'].astype(str)
#proc_map.columns = proc_map.columns.str.replace(' ', '')
proc_unique = proc_map.Lookup.unique().astype(str)
for index, row in data.iterrows():
  for j in range(len(proc_unique)):
    data['proc_'+str(proc_unique[j])]=0

#data.columns = data.columns.str.replace(' ','')

cmap = proc_map.set_index('ICD9_PRCDR_CD_1')['Lookup']

data['Proc1Lookup'] = data['ICD9_PRCDR_CD_1'].map(cmap, na_action='ignore')
data['Proc2Lookup'] = data['ICD9_PRCDR_CD_2'].map(cmap, na_action='ignore')
data['Proc3Lookup'] = data['ICD9_PRCDR_CD_3'].map(cmap, na_action='ignore')
data['Proc4Lookup'] = data['ICD9_PRCDR_CD_4'].map(cmap, na_action='ignore')
data['Proc5Lookup'] = data['ICD9_PRCDR_CD_5'].map(cmap, na_action='ignore')
data['Proc6Lookup'] = data['ICD9_PRCDR_CD_6'].map(cmap, na_action='ignore')

#data = pd.merge(data, proc_map, how='left', left_on='ICD9_PRCDR_CD_1', right_on='ICD9_PRCDR_CD_1')

#...This works data = pd.merge(data, proc_map, on='ICD9_PRCDR_CD_1')

      
#Get dx lookup map
dx_map = pd.read_csv('ICD9_DX_CD_Mappings.csv',skipinitialspace=True).astype(str)
dx_unique = dx_map.Lookup.unique().astype(str)
for index, row in data.iterrows():
  for j in range(len(dx_unique)):
    data['dx_'+str(dx_unique[j])]=0
    
dmap = dx_map.set_index('ICD9_DGNS_CD_1')['Lookup']

data['Dx1Lookup'] = data['ICD9_DGNS_CD_1'].map(dmap, na_action='ignore')
data['Dx2Lookup'] = data['ICD9_DGNS_CD_2'].map(dmap, na_action='ignore')
data['Dx3Lookup'] = data['ICD9_DGNS_CD_3'].map(dmap, na_action='ignore')
data['Dx4Lookup'] = data['ICD9_DGNS_CD_4'].map(dmap, na_action='ignore')
data['Dx5Lookup'] = data['ICD9_DGNS_CD_5'].map(dmap, na_action='ignore')
data['Dx6Lookup'] = data['ICD9_DGNS_CD_6'].map(dmap, na_action='ignore')
data['Dx7Lookup'] = data['ICD9_DGNS_CD_7'].map(dmap, na_action='ignore')
data['Dx8Lookup'] = data['ICD9_DGNS_CD_8'].map(dmap, na_action='ignore')
data['Dx9Lookup'] = data['ICD9_DGNS_CD_9'].map(dmap, na_action='ignore')
data['Dx10Lookup'] = data['ICD9_DGNS_CD_10'].map(dmap, na_action='ignore')
        
data.dtypes
data.head(10)
proc_map.dtypes
proc_map.head(5)

data['Dx1Lookup'].head(10)
data['Dx2Lookup'].head(10)
data['Dx3Lookup'].head(10)
data['ICD9_DGNS_CD_1'].head(10)
data['ICD9_DGNS_CD_2'].head(10)
data['ICD9_DGNS_CD_3'].head(10)
first5pairs = {k: dmap[k] for k in dmap.keys()[:5]}
first5pairs

data.shape
'''
#debugging prints
proc_map.dtypes
proc_map.head(5)

data['Proc1Lookup'].head(10)
data['Proc2Lookup'].head(10)
data['Proc3Lookup'].head(10)
data['ICD9_PRCDR_CD_1'].head(10)
data['ICD9_PRCDR_CD_2'].head(10)
data['ICD9_PRCDR_CD_3'].head(10)

first5pairs = {k: cmap[k] for k in cmap.keys()[:5]}
first5pairs
'''

DESYNPUF_ID                       object
CLM_ID                            object
SEGMENT                           object
CLM_FROM_DT                       object
CLM_THRU_DT                       object
PRVDR_NUM                         object
CLM_PMT_AMT                       object
NCH_PRMRY_PYR_CLM_PD_AMT          object
AT_PHYSN_NPI                      object
OP_PHYSN_NPI                      object
OT_PHYSN_NPI                      object
CLM_ADMSN_DT                      object
ADMTNG_ICD9_DGNS_CD               object
CLM_PASS_THRU_PER_DIEM_AMT        object
NCH_BENE_IP_DDCTBL_AMT            object
NCH_BENE_PTA_COINSRNC_LBLTY_AM    object
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM    object
CLM_UTLZTN_DAY_CNT                object
NCH_BENE_DSCHRG_DT                object
CLM_DRG_CD                        object
ICD9_DGNS_CD_1                    object
ICD9_DGNS_CD_2                    object
ICD9_DGNS_CD_3                    object
ICD9_DGNS_CD_4                    object
ICD9_DGNS_CD_5                    object
ICD9_DGNS_CD_6                    object
ICD9_DGNS_CD_7                    object
ICD9_DGNS_CD_8                    object
ICD9_DGNS_CD_9                    object
ICD9_DGNS_CD_10                   object
ICD9_PRCDR_CD_1                   object
ICD9_PRCDR_CD_2                   object
ICD9_PRCDR_CD_3                   object
ICD9_PRCDR_CD_4                   object
ICD9_PRCDR_CD_5                   object
ICD9_PRCDR_CD_6                   object
dtype: object

(2000, 36)

DESYNPUF_ID                       object
CLM_ID                            object
SEGMENT                           object
CLM_FROM_DT                       object
CLM_THRU_DT                       object
PRVDR_NUM                         object
CLM_PMT_AMT                       object
NCH_PRMRY_PYR_CLM_PD_AMT          object
AT_PHYSN_NPI                      object
OP_PHYSN_NPI                      object
OT_PHYSN_NPI                      object
CLM_ADMSN_DT                      object
ADMTNG_ICD9_DGNS_CD               object
CLM_PASS_THRU_PER_DIEM_AMT        object
NCH_BENE_IP_DDCTBL_AMT            object
NCH_BENE_PTA_COINSRNC_LBLTY_AM    object
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM    object
CLM_UTLZTN_DAY_CNT                object
NCH_BENE_DSCHRG_DT                object
CLM_DRG_CD                        object
ICD9_DGNS_CD_1                    object
ICD9_DGNS_CD_2                    object
ICD9_DGNS_CD_3                    object
ICD9_DGNS_CD_4                    object
ICD9_DGNS_CD_5                    object
ICD9_DGNS_CD_6                    object
ICD9_DGNS_CD_7                    object
ICD9_DGNS_CD_8                    object
ICD9_DGNS_CD_9                    object
ICD9_DGNS_CD_10                   object
                                   ...
dx_30391                           int64
dx_8248                            int64
dx_7847                            int64
dx_5691                            int64
dx_4372                            int64
dx_539                             int64
dx_V571                            int64
dx_99644                           int64
dx_29640                           int64
dx_28521                           int64
dx_7840                            int64
dx_7230                            int64
dx_4168                            int64
dx_1972                            int64
dx_56969                           int64
dx_43889                           int64
dx_42841                           int64
dx_4439                            int64
dx_3843                            int64
dx_OTHER_DX                        int64
Dx1Lookup                         object
Dx2Lookup                         object
Dx3Lookup                         object
Dx4Lookup                         object
Dx5Lookup                         object
Dx6Lookup                         object
Dx7Lookup                         object
Dx8Lookup                         object
Dx9Lookup                         object
Dx10Lookup                        object
Length: 523, dtype: object

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,Dx1Lookup,Dx2Lookup,Dx3Lookup,Dx4Lookup,Dx5Lookup,Dx6Lookup,Dx7Lookup,Dx8Lookup,Dx9Lookup,Dx10Lookup
0,00013D2EFD8E45D1,196661176988405,1,20100312,20100313,2600GD,4000,0,3139083564,NaN,...,7802,OTHER_DX,NaN,4280,NaN,4019,NaN,NaN,NaN,NaN
1,00016F745862898F,196201177000368,1,20090412,20090418,3900MB,26000,0,6476809087,NaN,...,1970,4019,OTHER_DX,OTHER_DX,2768,OTHER_DX,NaN,OTHER_DX,5849,NaN
2,00016F745862898F,196661177015632,1,20090831,20090902,3900HM,5000,0,611998537,611998537,...,OTHER_DX,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00016F745862898F,196091176981058,1,20090917,20090920,3913XU,5000,0,4971602784,NaN,...,OTHER_DX,OTHER_DX,NaN,34590,NaN,OTHER_DX,NaN,NaN,NaN,NaN
4,00016F745862898F,196261176983265,1,20100626,20100701,3900MB,16000,0,6408400473,1960859579,...,OTHER_DX,4019,OTHER_DX,NaN,OTHER_DX,OTHER_DX,7840,OTHER_DX,4271,NaN
5,00052705243EA128,196991176971757,1,20080912,20080912,1401HG,14000,0,6132010904,NaN,...,486,OTHER_DX,42731,42830,NaN,NaN,4019,NaN,NaN,NaN
6,0007F12A492FD25D,196661176963773,1,20080919,20080922,3400WD,5000,0,8956735757,6551008003,...,OTHER_DX,53550,42820,496,NaN,42731,OTHER_DX,NaN,OTHER_DX,NaN
7,0007F12A492FD25D,196821177025734,1,20100602,20100606,34S0KQ,5000,0,5838958809,NaN,...,49121,25002,OTHER_DX,4111,4280,OTHER_DX,NaN,NaN,NaN,NaN
8,0007F12A492FD25D,196551177025145,1,20100522,20100612,3400WD,14000,0,1907446990,NaN,...,V5789,OTHER_DX,OTHER_DX,2761,OTHER_DX,5845,4019,NaN,OTHER_DX,NaN
9,0007F12A492FD25D,196831176966961,1,20100616,20100619,3401ZP,29000,0,4959466403,8002609409,...,OTHER_DX,NaN,OTHER_DX,NaN,NaN,NaN,53081,NaN,4254,496

ICD9_PRCDR_CD_1    object
Lookup             object
dtype: object

  ICD9_PRCDR_CD_1 Lookup
0            9904   9904
1            8154   8154
2            3893   3893
3              66     66
4            3995   3995

0        7802
1        1970
2    OTHER_DX
3    OTHER_DX
4    OTHER_DX
5         486
6    OTHER_DX
7       49121
8       V5789
9    OTHER_DX
Name: Dx1Lookup, dtype: object

0    OTHER_DX
1        4019
2        2948
3    OTHER_DX
4        4019
5    OTHER_DX
6       53550
7       25002
8    OTHER_DX
9         NaN
Name: Dx2Lookup, dtype: object

0         NaN
1    OTHER_DX
2       56400
3         NaN
4    OTHER_DX
5       42731
6       42820
7    OTHER_DX
8    OTHER_DX
9    OTHER_DX
Name: Dx3Lookup, dtype: object

0     7802
1     1970
2     6186
3    29623
4     3569
5      486
6    33811
7    49121
8    V5789
9     7366
Name: ICD9_DGNS_CD_1, dtype: object

0    78820
1     4019
2     2948
3    30390
4     4019
5     3004
6    53550
7    25002
8     4279
9    V4365
Name: ICD9_DGNS_CD_2, dtype: object

0    V4501
1     5853
2    56400
3    71690
4     3542
5    42731
6    42820
7     2662
8     2449
9     4104
Name: ICD9_DGNS_CD_3, dtype: object

{'389': '389',
 '41401': '41401',
 '486': '486',
 '49121': '49121',
 'V5789': 'V5789'}

(2000, 523)

u"\n#debugging prints\nproc_map.dtypes\nproc_map.head(5)\n\ndata['Proc1Lookup'].head(10)\ndata['Proc2Lookup'].head(10)\ndata['Proc3Lookup'].head(10)\ndata['ICD9_PRCDR_CD_1'].head(10)\ndata['ICD9_PRCDR_CD_2'].head(10)\ndata['ICD9_PRCDR_CD_3'].head(10)\n\nfirst5pairs = {k: cmap[k] for k in cmap.keys()[:5]}\nfirst5pairs\n"

In [16]:
#Find null values in KPI columns
#print(data["ICD9_PRCDR_CD_1"].isnull().sum())
print(data["CLM_PMT_AMT"].isnull().sum())
print(data["NCH_PRMRY_PYR_CLM_PD_AMT"].isnull().sum())
print(data["CLM_PASS_THRU_PER_DIEM_AMT"].isnull().sum())
print(data["NCH_BENE_IP_DDCTBL_AMT"].isnull().sum())
print(data["NCH_BENE_PTA_COINSRNC_LBLTY_AM"].isnull().sum())
print(data["NCH_BENE_BLOOD_DDCTBL_LBLTY_AM"].isnull().sum())
print(data["CLM_UTLZTN_DAY_CNT"].isnull().sum())
print(data["CLM_FROM_DT"].isnull().sum())
data.shape

0
0
0
0
0
0
0
0

(1999, 523)

In [17]:
data.dropna(subset = ['CLM_FROM_DT'], inplace=True)
#Set null values to median
median = data["CLM_PMT_AMT"].median()
data["CLM_PMT_AMT"].fillna(median, inplace=True)
median = data["NCH_PRMRY_PYR_CLM_PD_AMT"].median()
data["NCH_PRMRY_PYR_CLM_PD_AMT"].fillna(median, inplace=True)
median = data["CLM_PASS_THRU_PER_DIEM_AMT"].median()
data["CLM_PASS_THRU_PER_DIEM_AMT"].fillna(median, inplace=True)
median = data["NCH_BENE_IP_DDCTBL_AMT"].median()
data["NCH_BENE_IP_DDCTBL_AMT"].fillna(median, inplace=True)
median = data["NCH_BENE_PTA_COINSRNC_LBLTY_AM"].median()
data["NCH_BENE_PTA_COINSRNC_LBLTY_AM"].fillna(median, inplace=True)
median = data["NCH_BENE_BLOOD_DDCTBL_LBLTY_AM"].median()
data["NCH_BENE_BLOOD_DDCTBL_LBLTY_AM"].fillna(median, inplace=True)
median = data["CLM_UTLZTN_DAY_CNT"].median()
data["CLM_UTLZTN_DAY_CNT"].fillna(median, inplace=True)

In [18]:
data['CLM_PMT_AMT'] = data['CLM_PMT_AMT'].astype(float)
data['NCH_PRMRY_PYR_CLM_PD_AMT'] = data['NCH_PRMRY_PYR_CLM_PD_AMT'].astype(float)
data['CLM_PASS_THRU_PER_DIEM_AMT'] = data['CLM_PASS_THRU_PER_DIEM_AMT'].astype(float)
data['NCH_BENE_IP_DDCTBL_AMT'] = data['NCH_BENE_IP_DDCTBL_AMT'].astype(float)
data['NCH_BENE_PTA_COINSRNC_LBLTY_AM'] = data['NCH_BENE_PTA_COINSRNC_LBLTY_AM'].astype(float)
data['NCH_BENE_BLOOD_DDCTBL_LBLTY_AM'] = data['NCH_BENE_BLOOD_DDCTBL_LBLTY_AM'].astype(float)
#compute Log of KPIs
data["LOG_CLM_PMT_AMT"] = np.log(1+data.CLM_PMT_AMT)
data["LOG_NCH_PRMRY_PYR_CLM_PD_AMT"]  = np.log(1+data.NCH_PRMRY_PYR_CLM_PD_AMT)
data["LOG_CLM_PASS_THRU_PER_DIEM_AMT"]  = np.log(1+data.CLM_PASS_THRU_PER_DIEM_AMT)
data["LOG_NCH_BENE_IP_DDCTBL_AMT"]  = np.log(1+data.NCH_BENE_IP_DDCTBL_AMT)
data["LOG_NCH_BENE_PTA_COINSRNC_LBLTY_AM"] = np.log(1+data.NCH_BENE_PTA_COINSRNC_LBLTY_AM)
data["LOG_NCH_BENE_BLOOD_DDCTBL_LBLTY_AM"] = np.log(1+data.NCH_BENE_BLOOD_DDCTBL_LBLTY_AM)


'''Example of gross ration
data["LOG_COLLECTED_RATIO"] = data["LOG_COLLECTED"]/data["LOG_AMOUNT"]
ratio_median = data["LOG_COLLECTED_RATIO"].median()
data["LOG_COLLECTED_RATIO"].fillna(ratio_median, inplace=True)
'''

data.shape

/Users/prashanthkini/Applications/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in log

u'Example of gross ration\ndata["LOG_COLLECTED_RATIO"] = data["LOG_COLLECTED"]/data["LOG_AMOUNT"]\nratio_median = data["LOG_COLLECTED_RATIO"].median()\ndata["LOG_COLLECTED_RATIO"].fillna(ratio_median, inplace=True)\n'

(1999, 529)

In [19]:
data[['proc_311','proc_8659','proc_OTHER_PROC']].dtypes
for index, row in data.iterrows():
    code = str(row['Proc1Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ code] = 1 
#    else:
#        data.loc[index, 'proc_OTHER_P'+ code] = 0.0
#    data['proc_'+ str(code)].fillna(value=0.0,inplace=True)


    code = str(row['Proc2Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ str(code)] = 1    
#    else:
#        data.loc[index, 'proc_'+ str(code)] = 0.0
#    data['proc_'+ str(code)].fillna(value=0.0,inplace=True)

    code = str(row['Proc3Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ str(code)] = 1    
        
    code = str(row['Proc4Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ str(code)] = 1    
        
    code = str(row['Proc5Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ str(code)] = 1    
        
    code = str(row['Proc6Lookup'])
    if code <> 'nan':
        data.loc[index, 'proc_'+ str(code)] = 1

proc_311           int64
proc_8659          int64
proc_OTHER_PROC    int64
dtype: object

In [20]:
'''
#Check Proc assignments
data.shape
data[['proc_311','proc_8659','proc_OTHER_PROC']].dtypes
data['proc_8659'].head(10)
data['proc_311'].head(10)
data['proc_OTHER_PROC'].head(10)
'''

u"\n#Check Proc assignments\ndata.shape\ndata[['proc_311','proc_8659','proc_OTHER_PROC']].dtypes\ndata['proc_8659'].head(10)\ndata['proc_311'].head(10)\ndata['proc_OTHER_PROC'].head(10)\n"

In [21]:
for index, row in data.iterrows():
    code = str(row['Dx1Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1 
#    else:
#        data.loc[index, 'dx_'+ str(code)] = 0.0
#    data['dx_'+ str(code)].fillna(value=0.0,inplace=True)

    code = str(row['Dx2Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1    

    code = str(row['Dx3Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1    
        
    code = str(row['Dx4Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1    
        
    code = str(row['Dx5Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1    
        
    code = str(row['Dx6Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1  

    code = str(row['Dx7Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1  

    code = str(row['Dx8Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1  

    code = str(row['Dx9Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1  

    code = str(row['Dx10Lookup'])
    if code <> 'nan':
        data.loc[index, 'dx_'+ str(code)] = 1

In [22]:
#Check Dx assignments
data.shape
data[['dx_7802','dx_4019','dx_OTHER_DX']].dtypes
data['dx_7802'].head(10)
data['dx_4019'].head(10)
data['dx_OTHER_DX'].head(10)

(1999, 529)

dx_7802        int64
dx_4019        int64
dx_OTHER_DX    int64
dtype: object

0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: dx_7802, dtype: int64

0    1
1    1
2    0
3    0
4    1
5    1
6    0
7    0
8    1
9    0
Name: dx_4019, dtype: int64

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: dx_OTHER_DX, dtype: int64

In [23]:
data = data.drop(['Proc1Lookup','Proc2Lookup','Proc3Lookup','Proc4Lookup','Proc5Lookup','Proc6Lookup'], axis=1)
data = data.drop(['Dx1Lookup','Dx2Lookup','Dx3Lookup','Dx4Lookup','Dx5Lookup','Dx6Lookup','Dx7Lookup','Dx8Lookup','Dx9Lookup','Dx10Lookup'], axis=1)
data.shape

(1999, 513)

In [24]:
#Create year, month, week, day of week columns for dates
#df['time'] = df['time'].astype('datetime64[ns]')

data['CLM_FROM_DT'].head(5)
data['CLM_FROM_DT'] = pd.to_datetime(data['CLM_FROM_DT'].astype(str),format='%Y%m%d')
data['CLM_THRU_DT'] = pd.to_datetime(data['CLM_THRU_DT'].astype(str),format='%Y%m%d')
data['CLM_ADMSN_DT'] = pd.to_datetime(data['CLM_ADMSN_DT'].astype(str),format='%Y%m%d')
data['CLM_FROM_DT'].head(5)

0    20100312
1    20090412
2    20090831
3    20090917
4    20100626
Name: CLM_FROM_DT, dtype: object

0   2010-03-12
1   2009-04-12
2   2009-08-31
3   2009-09-17
4   2010-06-26
Name: CLM_FROM_DT, dtype: datetime64[ns]

In [25]:
print(data['CLM_FROM_DT'].isnull().sum())
data['CLM_FROM_Year'] = data['CLM_FROM_DT'].dt.year
data['CLM_FROM_Month'] = data['CLM_FROM_DT'].dt.month
data['CLM_FROM_Day'] = data['CLM_FROM_DT'].dt.day
data['CLM_FROM_DOW'] = data['CLM_FROM_DT'].dt.dayofweek

data.dropna(subset = ['CLM_FROM_DT','CLM_FROM_Year','CLM_FROM_Month','CLM_FROM_Day','CLM_FROM_DOW'])

data['CLM_FROM_DT'].head(5)
data['CLM_FROM_Year'].head(5)
data['CLM_FROM_Month'].head(5)
data['CLM_FROM_Day'].head(5)
data['CLM_FROM_DOW'].head(5)

print(data['CLM_FROM_Year'].isna().sum())
print(data['CLM_FROM_Month'].isnull().sum())
print(data['CLM_FROM_Day'].isnull().sum())
print(data['CLM_FROM_DOW'].isnull().sum())
print(data['CLM_FROM_DT'].isnull().sum())

0

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,LOG_CLM_PMT_AMT,LOG_NCH_PRMRY_PYR_CLM_PD_AMT,LOG_CLM_PASS_THRU_PER_DIEM_AMT,LOG_NCH_BENE_IP_DDCTBL_AMT,LOG_NCH_BENE_PTA_COINSRNC_LBLTY_AM,LOG_NCH_BENE_BLOOD_DDCTBL_LBLTY_AM,CLM_FROM_Year,CLM_FROM_Month,CLM_FROM_Day,CLM_FROM_DOW
0,00013D2EFD8E45D1,196661176988405,1,2010-03-12,2010-03-13,2600GD,4000.0,0.0,3139083564,NaN,...,8.294300,0.000000,0.000000,7.003974,0.0,0.0,2010,3,12,4
1,00016F745862898F,196201177000368,1,2009-04-12,2009-04-18,3900MB,26000.0,0.0,6476809087,NaN,...,10.165890,0.000000,0.000000,6.974479,0.0,0.0,2009,4,12,6
2,00016F745862898F,196661177015632,1,2009-08-31,2009-09-02,3900HM,5000.0,0.0,611998537,611998537,...,8.517393,0.000000,0.000000,6.974479,0.0,0.0,2009,8,31,0
3,00016F745862898F,196091176981058,1,2009-09-17,2009-09-20,3913XU,5000.0,0.0,4971602784,NaN,...,8.517393,0.000000,0.000000,6.974479,0.0,0.0,2009,9,17,3
4,00016F745862898F,196261176983265,1,2010-06-26,2010-07-01,3900MB,16000.0,0.0,6408400473,1960859579,...,9.680406,0.000000,0.000000,7.003974,0.0,0.0,2010,6,26,5
5,00052705243EA128,196991176971757,1,2008-09-12,2008-09-12,1401HG,14000.0,0.0,6132010904,NaN,...,9.546884,0.000000,0.000000,6.932448,0.0,0.0,2008,9,12,4
6,0007F12A492FD25D,196661176963773,1,2008-09-19,2008-09-22,3400WD,5000.0,0.0,8956735757,6551008003,...,8.517393,0.000000,0.000000,6.932448,0.0,0.0,2008,9,19,4
7,0007F12A492FD25D,196821177025734,1,2010-06-02,2010-06-06,34S0KQ,5000.0,0.0,5838958809,NaN,...,8.517393,0.000000,0.000000,7.003974,0.0,0.0,2010,6,2,2
8,0007F12A492FD25D,196551177025145,1,2010-05-22,2010-06-12,3400WD,14000.0,0.0,1907446990,NaN,...,9.546884,0.000000,0.000000,6.974479,0.0,0.0,2010,5,22,5
9,0007F12A492FD25D,196831176966961,1,2010-06-16,2010-06-19,3401ZP,29000.0,0.0,4959466403,8002609409,...,10.275086,0.000000,0.000000,7.003974,0.0,0.0,2010,6,16,2
10,000B97BA2314E971,196231176958277,1,2009-12-09,2009-12-13,2200GD,2000.0,0.0,3115083157,NaN,...,7.601402,0.000000,0.000000,6.974479,0.0,0.0,2009,12,9,2
11,000C7486B11E7030,196641176984178,1,2008-10-15,2008-10-21,4400MM,30000.0,0.0,5520894646,6142535054,...,10.308986,0.000000,0.000000,6.932448,0.0,0.0,2008,10,15,2
12,00108066CA1FACCE,196501176978540,1,2009-09-30,2009-10-07,0300CC,30000.0,0.0,1521516773,NaN,...,10.308986,0.000000,0.000000,6.974479,0.0,0.0,2009,9,30,2
13,0011714C14B52EEB,196511177006504,1,2009-08-26,2009-08-29,3800YA,3000.0,0.0,4256485181,4317374175,...,8.006701,0.000000,3.931826,6.974479,0.0,0.0,2009,8,26,2
14,0011CB1FE23E91AF,196851176958774,1,2008-04-21,2008-04-26,2000HG,3000.0,0.0,1117398893,NaN,...,8.006701,0.000000,0.000000,6.932448,0.0,0.0,2008,4,21,0
15,0011CB1FE23E91AF,196091176985832,1,2008-04-26,2008-04-30,2013RT,8000.0,0.0,8156577394,6967907523,...,8.987322,0.000000,0.000000,6.974479,0.0,0.0,2008,4,26,5
16,00139C345A104F72,196731177023597,1,2009-06-10,2009-06-15,10S0SU,6000.0,0.0,5827238413,NaN,...,8.699681,0.000000,0.000000,6.974479,0.0,0.0,2009,6,10,2
17,00139C345A104F72,196691176984309,1,2009-12-07,2009-12-13,10S0SU,17000.0,0.0,9894972065,9894972065,...,9.741027,0.000000,0.000000,6.974479,0.0,0.0,2009,12,7,0
18,0013E139F1F37264,196141176989106,1,2010-08-30,2010-09-07,2600XR,3000.0,5000.0,3771255921,NaN,...,8.006701,8.517393,0.000000,7.003974,0.0,0.0,2010,8,30,0
19,00157F1570C74E09,196381176974293,1,2009-06-26,2009-06-30,4500WC,9000.0,0.0,7360289803,6590281685,...,9.105091,0.000000,4.262680,6.974479,0.0,0.0,2009,6,26,4
20,0016D2185D29BC11,196631176972622,1,2008-04-20,2008-04-23,39T0BD,2000.0,0.0,5296648375,NaN,...,7.601402,0.000000,0.000000,6.932448,0.0,0.0,2008,4,20,6
21,0016D2185D29BC11,196161176994395,1,2009-01-19,2009-01-20,39S0NV,7000.0,0.0,5423119112,NaN,...,8.853808,0.000000,3.044522,6.974479,0.0,0.0,2009,1,19,0
22,00196F0702489342,196711177009116,1,2009-06-07,2009-06-08,4900NA,4000.0,0.0,7087360414,NaN,...,8.294300,0.000000,0.000000,6.974479,0.0,0.0,2009,6,7,6
23,00196F0702489342,196991177014269,1,2010-01-14,2010-01-19,4900NA,8000.0,0.0,7087360414,2881979091,...,8.987322,0.000000,0.000000,7.003974,0.0,0.0,2010,1,14,3
24,00196F0702489342,196751177019091,1,2010-03-18,2010-03-24,4901MJ,7000.0,0.0,3149964648,NaN,...,8.853808,0.000000,4.615121,7.003974,0.0,0.0,2010,3,18,3
25,001AFA59A08ABBF1,196341177018516,1,2008-05-23,2008-05-26,52T0QU,13000.0,0.0,2086667778,NaN,...,9.472782,0.000000,0.000000,6.932448,0.0,0.0,2008,5,23,4
26,001AFA59A08ABBF1,196331177006825,1,2008-06-21,2008-06-25,52T0QU,11000.0,0.0,9771995236,1998991338,...,9.305741,0.000000,0.000000,6.974479,0.0,0.0,2008,6,21,5
27,001AFA59A08ABBF1,196961177025913,1,2008-06-22,2008-06-26,5201SV,5000.0,0.0,5604557388,NaN,...,8.517393,0.000000,0.000000,6.932448,0.0,0.0,2008,6,22,6
28,001EA2F4DB30F105,196601176970568,1,2009-07-19,2009-07-22,0505YJ,5000.0,0.0,5439286653,NaN,...,8.517393,0.000000,0.000000,6.974479,0.0,0.0,2009,7,19,6
29,001EA2F4DB30F105,196131176973660,1,2010-03-16,2010-03-19,1401RR,0.0,0.0,7872369581,5118340367,...,0.000000,0.000000,6.216606,7.003974,0.0,0.0,2010,3,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,0721B6D3CD36F643,196951176959684,1,2008-07-06,2008-07-09,0503SD,5000.0,0.0,3072492449,NaN,...,8.517393,0.000000,0.000000,6.932448,0.0,0.0,2008,7,6,6
1971,0721B6D3CD36F643,196341176967677,1,2008-07-17,2008-07-20,0503SD,3000.0,0.0,3072492449,NaN,...,8.006701,0.000000,5.707110,6.932448,0.0,0.0,2008,7,17,3
1972,0721B6D3CD36F643,196601176984503,1,2009-11-19,2009-11-22,05T7BN,0.0,0.0,2364147590,NaN,...,0.000000,0.000000,4.110874,6.974479,0.0,0.0,2009,11,19,3
1973,0721B6D3CD36F643,196831177013678,1,2010-02-13,2010-02-17,0503SD,6000.0,0.0,1323185717,NaN,...,8.699681,0.000000,0.000000,7.003974,0.0,0.0,2010,2,13,5
1974,07245DFC097B4DC9,196291176961667,1,2010-03-11,2010-03-14,0300CC,9000.0,0.0,1521516773,3563005767,...,9.105091,0.000000,3.931826,7.003974,0.0,0.0,2010,3,11,3
1975,0726FC678E64E130,196641177023810,1,2008-08-18,2008-08-21,3302WH,0.0,0.0,5107910058,NaN,...,0.000000,0.000000,0.000000,6.932448,0.0,0.0,2008,8,18,0
1976,072779B14EBBEBB0,196911176996439,1,2008-12-21,2008-12-22,1401RJ,40000.0,0.0,6715923303,6463852271,...,10.596660,0.000000,3.931826,6.932448,0.0,0.0,2008,12,21,6
1977,072779B14EBBEBB0,196411176985635,1,2009-09-04,2009-09-11,1000GU,4000.0,0.0,8573423194,559554552,...,8.294300,0.000000,0.000000,6.974479,0.0,0.0,2009,9,4,4
1978,072779B14EBBEBB0,196911177020428,1,2009-11-20,2009-11-26,1400BU,5000.0,0.0,2080180236,5572395788,...,8.517393,0.000000,0.000000,6.974479,0.0,0.0,2009,11,20,4
1979,072AA8EB647C5619,196451176971868,1,2010-04-27,2010-04-28,2200JJ,9000.0,0.0,5019745638,5019745638,...,9.105091,0.000000,0.000000,7.003974,0.0,0.0,2010,4,27,1
1980,072B280D03B223BF,196331176987698,1,2010-11-18,2010-11-20,4230DG,4000.0,0.0,1795396261,1795396261,...,8.294300,0.000000,3.044522,7.003974,0.0,0.0,2010,11,18,3
1981,072BD74A51C894DA,196471176976503,1,2009-02-16,2009-02-19,0504ZK,21000.0,0.0,8644201232,9549425662,...,9.952325,0.000000,0.000000,6.974479,0.0,0.0,2009,2,16,0
1982,072C8DE26262889D,196161176959665,1,2008-10-17,2008-10-18,3601WR,200.0,0.0,3458936057,NaN,...,5.303305,0.000000,0.000000,6.932448,0.0,0.0,2008,10,17,4
1983,072CE3FAE9C2B927,196811176994496,1,2008-12-23,2008-12-25,44S1DD,4000.0,0.0,7463450705,NaN,...,8.294300,0.000000,0.000000,6.932448,0.0,0.0,2008,12,23,1
1984,072EBD01B801EFE2,196621176991834,1,2009-07-25,2009-07-27,1401VV,3000.0,0.0,1399765537,NaN,...,8.006701,0.000000,0.000000,6.974479,0.0,0.0,2009,7,25,5
1985,072EBD01B801EFE2,196671176996417,1,2009-07-28,2009-07-30,1401AH,6000.0,0.0,4850575325,3368676232,...,8.699681,0.000000,0.000000,6.974479,0.0,0.0,2009,7,28,1
1986,072F72C7A6B234C5,196031176967416,1,2009-09-19,2009-09-20,1600MG,12000.0,0.0,2430790743,2430790743,...,9.392745,0.000000,3.044522,6.974479,0.0,0.0,2009,9,19,5
1987,0732E5C83BF160BF,196901176976884,1,2008-08-25,2008-08-28,0100GU,4000.0,0.0,7009177685,4952835177,...,8.294300,0.000000,0.000000,6.932448,0.0,0.0,2008,8,25,0
1988,0732E5C83BF160BF,196891176970806,1,2008-10-24,2008-10-25,1102ZA,4000.0,0.0,9092022962,NaN,...,8.294300,0.000000,4.394449,6.932448,0.0,0.0,2008,10,24,4
1989,0733670B7A73A6F1,196401176961486,1,2010-09-25,2010-09-26,4200CT,4000.0,0.0,1085295855,1085295855,...,8.294300,0.000000,5.303305,7.003974,0.0,0.0,2010,9,25,5
1990,0733BCDF3AC63C4F,196241176972375,1,2008-03-04,2008-03-06,50UWMC,0.0,0.0,3817672968,NaN,...,0.000000,0.000000,0.000000,6.932448,0.0,0.0,2008,3,4,1
1991,0733F15C03B978A6,196811176990804,1,2008-11-18,2008-11-22,4507MH,11000.0,0.0,5447854602,4364842932,...,9.305741,0.000000,0.000000,6.932448,0.0,0.0,2008,11,18,1
1992,0733F15C03B978A6,196491177020507,1,2008-12-19,2008-12-20,4502RV,9000.0,15000.0,4513628443,2026810000,...,9.105091,9.615872,4.615121,6.932448,0.0,0.0,2008,12,19,4
1993,073A3ED384BF7431,196441176987913,1,2008-01-02,2008-01-07,3301BB,7000.0,0.0,962980758,NaN,...,8.853808,0.000000,0.000000,6.974479,0.0,0.0,2008,1,2,2
1994,073A3ED384BF7431,196541176977273,1,2007-12-12,2008-01-16,3302UN,57000.0,0.0,1356605362,NaN,...,10.950824,0.000000,0.000000,6.932448,0.0,0.0,2007,12,12,2
1995,073A3ED384BF7431,196471176990093,1,2008-02-20,2008-02-22,1001HB,4000.0,0.0,6912586859,NaN,...,8.294300,0.000000,0.000000,6.974479,0.0,0.0,2008,2,20,2
1996,073A3ED384BF7431,196961176981285,1,2008-02-18,2008-02-23,3301XM,6000.0,0.0,3215742657,NaN,...,8.699681,0.000000,0.000000,6.932448,0.0,0.0,2008,2,18,0
1997,073A3ED384BF7431,196201176973001,1,2008-03-20,2008-03-28,3301BB,9000.0,0.0,7721292007,NaN,...,9.105091,0.000000,0.000000,6.932448,0.0,0.0,2008,3,20,3
1998,073A3ED384BF7431,196821176960361,1,2008-05-23,2008-05-27,1000AH,22000.0,0.0,3370221547,1801430993,...,9.998843,0.000000,3.044522,6.932448,0.0,0.0,2008,5,23,4
1999,073A3ED384BF7431,196191177021236,1,2008-07-10,2008-07-11,3300JQ,7000.0,0.0,9194101583,9928608410,...,8.853808,0.000000,0.000000,6.932448,0.0,0.0,2008,7,10,3

0   2010-03-12
1   2009-04-12
2   2009-08-31
3   2009-09-17
4   2010-06-26
Name: CLM_FROM_DT, dtype: datetime64[ns]

0    2010
1    2009
2    2009
3    2009
4    2010
Name: CLM_FROM_Year, dtype: int64

0    3
1    4
2    8
3    9
4    6
Name: CLM_FROM_Month, dtype: int64

0    12
1    12
2    31
3    17
4    26
Name: CLM_FROM_Day, dtype: int64

0    4
1    6
2    0
3    3
4    5
Name: CLM_FROM_DOW, dtype: int64

0
0
0
0
0

In [26]:
#Read in demo info
demo_info = pd.read_csv('DE1_0_2008_Beneficiary_Summary_File_Sample_1.csv')
data.shape
demo_info.shape
#Compute derived demo variables
demo_info['BENE_BIRTH_DT'] = pd.to_datetime(demo_info['BENE_BIRTH_DT'].astype(str),format='%Y%m%d')
demo_info.head(10)

(1999, 517)

(116352, 32)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,00013D2EFD8E45D1,1923-05-01,NaN,1,1,0,26,950,12,12,...,2,0.0,0.0,0.0,50.0,10.0,0.0,0.0,0.0,0.0
1,00016F745862898F,1943-01-01,NaN,1,1,0,39,230,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
2,0001FDD721E223DC,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00021CA6FF03E670,1941-06-01,NaN,1,5,0,6,290,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00024B3D2352D2D0,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,0.0,0.0,0.0,30.0,40.0,0.0,220.0,80.0,0.0
5,0002DAE1C81CC70D,1943-10-01,NaN,1,2,0,33,400,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0002F28CE057345B,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,0.0,0.0,0.0,1010.0,270.0,0.0,3330.0,940.0,0.0
7,000308435E3E5B76,1935-09-01,NaN,1,1,0,24,680,10,10,...,2,0.0,0.0,0.0,150.0,160.0,0.0,870.0,340.0,80.0
8,000345A39D4157C9,1976-09-01,NaN,2,1,0,23,810,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,00036A21B65B0206,1938-10-01,NaN,2,2,0,1,570,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
data.head(10)
demo_info.head(10)
merged_data = pd.merge(data, demo_info, on='DESYNPUF_ID')
merged_data.shape
merged_data.head(10)

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,LOG_CLM_PMT_AMT,LOG_NCH_PRMRY_PYR_CLM_PD_AMT,LOG_CLM_PASS_THRU_PER_DIEM_AMT,LOG_NCH_BENE_IP_DDCTBL_AMT,LOG_NCH_BENE_PTA_COINSRNC_LBLTY_AM,LOG_NCH_BENE_BLOOD_DDCTBL_LBLTY_AM,CLM_FROM_Year,CLM_FROM_Month,CLM_FROM_Day,CLM_FROM_DOW
0,00013D2EFD8E45D1,196661176988405,1,2010-03-12,2010-03-13,2600GD,4000.0,0.0,3139083564,NaN,...,8.294300,0.0,0.0,7.003974,0.0,0.0,2010,3,12,4
1,00016F745862898F,196201177000368,1,2009-04-12,2009-04-18,3900MB,26000.0,0.0,6476809087,NaN,...,10.165890,0.0,0.0,6.974479,0.0,0.0,2009,4,12,6
2,00016F745862898F,196661177015632,1,2009-08-31,2009-09-02,3900HM,5000.0,0.0,611998537,611998537,...,8.517393,0.0,0.0,6.974479,0.0,0.0,2009,8,31,0
3,00016F745862898F,196091176981058,1,2009-09-17,2009-09-20,3913XU,5000.0,0.0,4971602784,NaN,...,8.517393,0.0,0.0,6.974479,0.0,0.0,2009,9,17,3
4,00016F745862898F,196261176983265,1,2010-06-26,2010-07-01,3900MB,16000.0,0.0,6408400473,1960859579,...,9.680406,0.0,0.0,7.003974,0.0,0.0,2010,6,26,5
5,00052705243EA128,196991176971757,1,2008-09-12,2008-09-12,1401HG,14000.0,0.0,6132010904,NaN,...,9.546884,0.0,0.0,6.932448,0.0,0.0,2008,9,12,4
6,0007F12A492FD25D,196661176963773,1,2008-09-19,2008-09-22,3400WD,5000.0,0.0,8956735757,6551008003,...,8.517393,0.0,0.0,6.932448,0.0,0.0,2008,9,19,4
7,0007F12A492FD25D,196821177025734,1,2010-06-02,2010-06-06,34S0KQ,5000.0,0.0,5838958809,NaN,...,8.517393,0.0,0.0,7.003974,0.0,0.0,2010,6,2,2
8,0007F12A492FD25D,196551177025145,1,2010-05-22,2010-06-12,3400WD,14000.0,0.0,1907446990,NaN,...,9.546884,0.0,0.0,6.974479,0.0,0.0,2010,5,22,5
9,0007F12A492FD25D,196831176966961,1,2010-06-16,2010-06-19,3401ZP,29000.0,0.0,4959466403,8002609409,...,10.275086,0.0,0.0,7.003974,0.0,0.0,2010,6,16,2

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,00013D2EFD8E45D1,1923-05-01,NaN,1,1,0,26,950,12,12,...,2,0.0,0.0,0.0,50.0,10.0,0.0,0.0,0.0,0.0
1,00016F745862898F,1943-01-01,NaN,1,1,0,39,230,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
2,0001FDD721E223DC,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00021CA6FF03E670,1941-06-01,NaN,1,5,0,6,290,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00024B3D2352D2D0,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,0.0,0.0,0.0,30.0,40.0,0.0,220.0,80.0,0.0
5,0002DAE1C81CC70D,1943-10-01,NaN,1,2,0,33,400,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0002F28CE057345B,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,0.0,0.0,0.0,1010.0,270.0,0.0,3330.0,940.0,0.0
7,000308435E3E5B76,1935-09-01,NaN,1,1,0,24,680,10,10,...,2,0.0,0.0,0.0,150.0,160.0,0.0,870.0,340.0,80.0
8,000345A39D4157C9,1976-09-01,NaN,2,1,0,23,810,0,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,00036A21B65B0206,1938-10-01,NaN,2,2,0,1,570,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(1997, 548)

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,00013D2EFD8E45D1,196661176988405,1,2010-03-12,2010-03-13,2600GD,4000.0,0.0,3139083564,NaN,...,2,0.0,0.0,0.0,50.0,10.0,0.0,0.0,0.0,0.0
1,00016F745862898F,196201177000368,1,2009-04-12,2009-04-18,3900MB,26000.0,0.0,6476809087,NaN,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
2,00016F745862898F,196661177015632,1,2009-08-31,2009-09-02,3900HM,5000.0,0.0,611998537,611998537,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
3,00016F745862898F,196091176981058,1,2009-09-17,2009-09-20,3913XU,5000.0,0.0,4971602784,NaN,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
4,00016F745862898F,196261176983265,1,2010-06-26,2010-07-01,3900MB,16000.0,0.0,6408400473,1960859579,...,2,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0
5,00052705243EA128,196991176971757,1,2008-09-12,2008-09-12,1401HG,14000.0,0.0,6132010904,NaN,...,2,14000.0,1024.0,0.0,4240.0,3130.0,0.0,6740.0,2130.0,1200.0
6,0007F12A492FD25D,196661176963773,1,2008-09-19,2008-09-22,3400WD,5000.0,0.0,8956735757,6551008003,...,1,5000.0,1024.0,0.0,5510.0,1380.0,0.0,4980.0,1170.0,200.0
7,0007F12A492FD25D,196821177025734,1,2010-06-02,2010-06-06,34S0KQ,5000.0,0.0,5838958809,NaN,...,1,5000.0,1024.0,0.0,5510.0,1380.0,0.0,4980.0,1170.0,200.0
8,0007F12A492FD25D,196551177025145,1,2010-05-22,2010-06-12,3400WD,14000.0,0.0,1907446990,NaN,...,1,5000.0,1024.0,0.0,5510.0,1380.0,0.0,4980.0,1170.0,200.0
9,0007F12A492FD25D,196831176966961,1,2010-06-16,2010-06-19,3401ZP,29000.0,0.0,4959466403,8002609409,...,1,5000.0,1024.0,0.0,5510.0,1380.0,0.0,4980.0,1170.0,200.0

In [28]:
#compute derived features
#1. Age group
#merged_data['BENE_BIRTH_DT'] = pd.to_datetime(merged_data['BENE_BIRTH_DT'].astype(str),format='%Y%m%d')
merged_data['BENE_Age_Group'] = ((merged_data['CLM_FROM_DT'] - merged_data['BENE_BIRTH_DT']).dt.days / (20*365)).round(0)
merged_data['BENE_BIRTH_DT'].head(10)
merged_data['CLM_FROM_DT'].head(10)
merged_data['BENE_Age_Group'].head(10)

0   1923-05-01
1   1943-01-01
2   1943-01-01
3   1943-01-01
4   1943-01-01
5   1934-05-01
6   1919-09-01
7   1919-09-01
8   1919-09-01
9   1919-09-01
Name: BENE_BIRTH_DT, dtype: datetime64[ns]

0   2010-03-12
1   2009-04-12
2   2009-08-31
3   2009-09-17
4   2010-06-26
5   2008-09-12
6   2008-09-19
7   2010-06-02
8   2010-05-22
9   2010-06-16
Name: CLM_FROM_DT, dtype: datetime64[ns]

0    4.0
1    3.0
2    3.0
3    3.0
4    3.0
5    4.0
6    4.0
7    5.0
8    5.0
9    5.0
Name: BENE_Age_Group, dtype: float64

In [29]:
merged_data.dtypes
merged_data.to_csv('Demo_CMS_IP_features_columns.csv',index=False, header=True)

DESYNPUF_ID                               object
CLM_ID                                    object
SEGMENT                                   object
CLM_FROM_DT                       datetime64[ns]
CLM_THRU_DT                       datetime64[ns]
PRVDR_NUM                                 object
CLM_PMT_AMT                              float64
NCH_PRMRY_PYR_CLM_PD_AMT                 float64
AT_PHYSN_NPI                              object
OP_PHYSN_NPI                              object
OT_PHYSN_NPI                              object
CLM_ADMSN_DT                      datetime64[ns]
ADMTNG_ICD9_DGNS_CD                       object
CLM_PASS_THRU_PER_DIEM_AMT               float64
NCH_BENE_IP_DDCTBL_AMT                   float64
NCH_BENE_PTA_COINSRNC_LBLTY_AM           float64
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM           float64
CLM_UTLZTN_DAY_CNT                        object
NCH_BENE_DSCHRG_DT                        object
CLM_DRG_CD                                object
ICD9_DGNS_CD_1                            object
ICD9_DGNS_CD_2                            object
ICD9_DGNS_CD_3                            object
ICD9_DGNS_CD_4                            object
ICD9_DGNS_CD_5                            object
ICD9_DGNS_CD_6                            object
ICD9_DGNS_CD_7                            object
ICD9_DGNS_CD_8                            object
ICD9_DGNS_CD_9                            object
ICD9_DGNS_CD_10                           object
                                       ...
BENE_SEX_IDENT_CD                          int64
BENE_RACE_CD                               int64
BENE_ESRD_IND                             object
SP_STATE_CODE                              int64
BENE_COUNTY_CD                             int64
BENE_HI_CVRAGE_TOT_MONS                    int64
BENE_SMI_CVRAGE_TOT_MONS                   int64
BENE_HMO_CVRAGE_TOT_MONS                   int64
PLAN_CVRG_MOS_NUM                          int64
SP_ALZHDMTA                                int64
SP_CHF                                     int64
SP_CHRNKIDN                                int64
SP_CNCR                                    int64
SP_COPD                                    int64
SP_DEPRESSN                                int64
SP_DIABETES                                int64
SP_ISCHMCHT                                int64
SP_OSTEOPRS                                int64
SP_RA_OA                                   int64
SP_STRKETIA                                int64
MEDREIMB_IP                              float64
BENRES_IP                                float64
PPPYMT_IP                                float64
MEDREIMB_OP                              float64
BENRES_OP                                float64
PPPYMT_OP                                float64
MEDREIMB_CAR                             float64
BENRES_CAR                               float64
PPPYMT_CAR                               float64
BENE_Age_Group                           float64
Length: 549, dtype: object